In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns

In [5]:
data=pd.read_csv('FAOSTAT_data.csv')
data

,Domain Code,Domain,Area Code,Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,RL,Land Use,100,India,5110,Area,6610,Agricultural land,1961,1961,1000 ha,174952.0,W,Data reported on country official publications...
1,RL,Land Use,100,India,5110,Area,6610,Agricultural land,1962,1962,1000 ha,176482.0,W,Data reported on country official publications...
2,RL,Land Use,100,India,5110,Area,6610,Agricultural land,1963,1963,1000 ha,176154.0,W,Data reported on country official publications...
3,RL,Land Use,100,India,5110,Area,6610,Agricultural land,1964,1964,1000 ha,176712.0,W,Data reported on country official publications...
4,RL,Land Use,100,India,5110,Area,6610,Agricultural land,1965,1965,1000 ha,177177.0,W,Data reported on country official publications...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84,RL,Land Use,100,India,5110,Area,6610,Agricultural land,2017,2017,1000 ha,179578.0,Fm,Manual Estimation
85,RL,Land Use,100,India,5110,Area,6610,Agricultural land,2018,2018,1000 ha,179578.0,Fm,Manual Estimation
86,RL,Land Use,100,India,5110,Area,6670,Other land,2018,2018,1000 ha,46113.8,Fc,Calculated data
87,RL,Land Use,100,India,5110,Area,6670,Other land,2019,2019,1000 ha,45847.4,Fc,Calculated data
88,RL,Land Use,100,India,5110,Area,6610,Agricultural land,2019,2019,1000 ha,179578.0,Fm,Manual Estimation

In [6]:
data.head()

,Domain Code,Domain,Area Code,Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,RL,Land Use,100,India,5110,Area,6610,Agricultural land,1961,1961,1000 ha,174952.0,W,Data reported on country official publications...
1,RL,Land Use,100,India,5110,Area,6610,Agricultural land,1962,1962,1000 ha,176482.0,W,Data reported on country official publications...
2,RL,Land Use,100,India,5110,Area,6610,Agricultural land,1963,1963,1000 ha,176154.0,W,Data reported on country official publications...
3,RL,Land Use,100,India,5110,Area,6610,Agricultural land,1964,1964,1000 ha,176712.0,W,Data reported on country official publications...
4,RL,Land Use,100,India,5110,Area,6610,Agricultural land,1965,1965,1000 ha,177177.0,W,Data reported on country official publications...

In [7]:
data.describe()

,Area Code,Element Code,Item Code,Year Code,Year,Value
count,89.0,89.0,89.000000,89.000000,89.000000,89.000000
mean,100.0,5110.0,6630.224719,1994.887640,1994.887640,135587.303371
std,0.0,0.0,28.523417,16.355037,16.355037,62291.085148
min,100.0,5110.0,6610.000000,1961.000000,1961.000000,45847.400000
25%,100.0,5110.0,6610.000000,1983.000000,1983.000000,49842.900000
50%,100.0,5110.0,6610.000000,1997.000000,1997.000000,179573.000000
75%,100.0,5110.0,6670.000000,2008.000000,2008.000000,180462.000000
max,100.0,5110.0,6670.000000,2019.000000,2019.000000,181586.000000